@media only screen and (max-width: 992px) {
  body {
    padding: 0;
  }

  .container {
    display: inherit;
    padding: 10px;
  }

  .content {
    width: 100%;
    border-radius: 50px 50px 50px 50px;
  }

  .form-wrap {
    border-radius: 50px 50px 50px 50px;
    margin-top: 10px;
    width: 100%;
  }

  .form-iner {
    margin: 25px 0;
  }
}